.DS_Store
.idea
*.o
*.mod
*.exe
*.out
*.x
\#*
*~
*.html
*.pdf
*.sif
build/
core

#ignore default binary name
a.out
hello
prog

#ignore heat solver outputs
heat_*.png
heat
heat_hip
heat_mpi
heat_omp

#ignore default SLURM output files
slurm-*.out

# Ignore specific exercise & solution binaries
gpu/exercises/bonus/02-kernels/kernel_errors/errors
gpu/exercises/fundamentals/02-kernels/02_kernel_launch/kernel
gpu/exercises/fundamentals/02-kernels/03_kernel_launch_wrapper/wrapper
gpu/exercises/fundamentals/02-kernels/04_api_queries/api
gpu/exercises/fundamentals/02-kernels/05_api_errors/errors
gpu/exercises/fundamentals/02-kernels/06_fill/fill
gpu/exercises/fundamentals/02-kernels/07_taylor_for/taylor

mpi/broadcast-scatter/broadcast
mpi/message-chain/chain
mpi/message-chain/chain_sendrecv
mpi/message-chain-non-blocking/chain
mpi/message-exchange/exchange
mpi/message-length/message-length
mpi/parallel-pi-general/pi
mpi/parallel-pi-two-procs/pi

openmp/data-sharing/variables
openmp/execution-controls/jacobi
openmp/fibonacci/fibonacci
openmp/heat-hybrid/cpp/heat_hybrid
openmp/mandelbrot/cpp/mandelbrot
openmp/mandelbrot/cpp/mandelbrot.png
openmp/race-condition/race
openmp/reduction/sum
openmp/simple-tasks/tasks
openmp/work-sharing/sharing

parallel-io/parallel-write/parallel-write

exercises/programming/fortran/hello/hello
solutions/programming/fortran/hello/hello

exercises/programming/fortran/loops/loops
solutions/programming/fortran/loops/loops

exercises/programming/fortran/arrays/arrays
solutions/programming/fortran/arrays/arrays

exercises/programming/fortran/laplacian/laplacian
solutions/programming/fortran/laplacian/laplacian

exercises/programming/fortran/intrinsics/intrinsics
solutions/programming/fortran/intrinsics/intrinsics

exercises/programming/fortran/io/io
solutions/programming/fortran/io/io

#ignore R and RStudio related files
.Rproj.user
*.Rproj
.RData
.Rhistory
